body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(rgb(255, 255, 255),rgb(181, 137, 214), rgb(181, 137, 214),rgb(153, 105, 199), rgb(128, 79, 179), rgb(106, 53, 156), rgb(85, 37, 134));
  overflow: scroll;
}

html, body, #root, #app {
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-decoration: underline;
}

h4 {
  text-align: center;
}

.bucket-contents {
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.make-skinny {
  width: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.make-skinnier {
  margin: auto;
  width: 9vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.bucketForm-time {
  text-align: center;
}

#bucket-form {
  margin: auto;
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#single-todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#header {
  margin: auto;
  height: 10vh;
  text-align: center;
  background-color: transparent;
}

#user-form {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  display: flex;
  flex-flow: column;
}

#nav-main {
  height: 85vh;
  flex-flow: row;
}

#button-signout {
  height: 5vh;
}

#user {
  margin: auto;
  height: 60vh;
  width: 75vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#user {
  margin: auto;
  height: 100vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
}

#next {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: transparent;
}

#todos, #bucket {
  margin: auto;
  height: 78vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: transparent;
}

#login-form, #signup-form {
  margin: auto;
  height: 20vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#all-todos {
  margin: auto;
  height: 80vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#form-input1, #form-input2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#form-button {
  position: absolute;
}

#preset-todos {
  margin: auto;
  height: 13vh;
  width: 20vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 10%;
}

#todos-list {
  margin: auto;
  height: 90vh;
  width: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#bucket-list {
  margin: auto;
  height: 80vh;
  width: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}